<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :token %>
    <%= form.text_field :token %>
  </div>

  <div class="field">
    <%= form.label :encrypted_password %>
    <%= form.text_field :encrypted_password %>
  </div>

  <div class="field">
    <%= form.label :reset_password_token %>
    <%= form.text_field :reset_password_token %>
  </div>

  <div class="field">
    <%= form.label :reset_password_sent_at %>
    <%= form.datetime_select :reset_password_sent_at %>
  </div>

  <div class="field">
    <%= form.label :remember_created_at %>
    <%= form.datetime_select :remember_created_at %>
  </div>

  <div class="field">
    <%= form.label :function %>
    <%= form.text_field :function %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
